@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

.wrapper{
    position: absolute;
    top : 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.with-image{
    background-image: url("./image1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;  
}

h1{
    position: absolute ;
    left: 14%;
    right: 2%;
    top: 20%;
    bottom: 12%;

    font-family: barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 86px;

    color: #fff;
}

span{
    position: absolute; 
    right:70%; 
    background: #ff6e40;
}

p{
    position: absolute;
    width: 678px;
    height: 210px;
    left: 192px;
    top: 230px;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    color: #fff;
    transform: rotate(-0.02deg);
}

.b{
    font-weight: bold;
}

.Component2{
    position: absolute;
    left: 14%;
    right: 55%;
    top:80%;
    bottom: 10%;
    border: 3px solid #ff6e40;
    box-sizing: border-box;
    border-radius: 10px;
}
.selengkapnya{
    position: absolute;
    left: 30%;
    right: 25%;
    top: 10%;
    bottom: 13%;
    font-family: barlow;
    font-style: normal;
    font-weight: 600;
    font-optical-sizing: 21px;
    line-height: 43px;
    color:#ff6e40;
}

.opacity{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #444;
    opacity: 0.3;
}

.right{
    position: absolute;
    max-width: 300px;
    height: 100px;
    left: 1300px;
    top: 350px;
    font-size: 70px;
    color: white;
}

.left{
    position: absolute;
    max-width: 300px;
    height: 100px;
    left: 20px;
    top: 350px;
    font-size: 70px;
    color: white;
}